$primary-color-dark: #231f20;
$primary-color: #853109;
$primary-color-light: #fff;
$primary-color-text: #231f20;
$accent-color: #ed1c24;
$accent-color-dark: #733236;
$accent-color-light: #ffcb04;
$accent-color-mid: #F67414; // 733236 b79100
@import 'reset';
@import 'flex-grid';
@import 'typography'; // MAIN STYLES
$box-shadow: 0 .25rem .5rem -.25rem $primary-color-dark;
$box-shadow-light: 0 .5rem .5rem -.25rem $primary-color-dark;
$box-shadow-hover: 0 .25rem 1rem -.25rem $accent-color-dark;

header {
  z-index: 1;
  transition: .4s ease;
  background-color: $primary-color-light;
}

.logo {
  height: 2rem;
}

nav {
  display: flex;
  width: 100%;
  min-height: 4rem;
  height: 100%;
  font-size: 1.2em;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;

  a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: $primary-color-dark;
  }

  h1 {
    font-size: 1rem;
    transition: .4s;

    &:hover {
      filter: drop-shadow($hover-shadow);
      animation: logo .4s forwards;
    }
  }

  ul {
    display: flex;
    max-height: 0;
    transition: .4s;
    opacity: 0;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
  }

  li {
    display: block;
    text-align: center;
    white-space: nowrap;
    border-top: 1px solid $primary-color-dark;
  }

  .menu-trigger {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    width: 2.5rem;
    cursor: pointer;
    transition: .4s;
    border: 0;
    background: none;

    &:hover {
      color: $accent-color-dark;
      filter: drop-shadow(0 .1rem .1rem $accent-color-light);
    }

    &:focus {
      transform: rotate(90deg);

      & ~ ul {
        max-height: 100vh;
        opacity: 1;
      }
    }
  }
}
@media screen and (min-width: 660px) {
  nav {
    flex-flow: row;

    ul {
      max-height: initial;
      opacity: 1;
      flex-flow: row nowrap;
    }

    a {
      padding: 0 1rem;
    }

    li {
      border-top: 0;
      border-right: 1px solid $primary-color-dark;

      &:last-child {
        border-right: 0;
      }
    }

    .menu-trigger {
      display: none;
    }
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.header-content {
  position: relative;
  display: flex;
  min-height: calc(100vh - 4rem);
  margin-top: 4rem;
  align-items: center;
}

.social {
  display: flex;
  width: 100%;
  margin: 4vh 0;
  padding: 4vh 0;
  border-top: 4px dashed $primary-color-dark;
  justify-content: space-around;

  li {
    display: inline;
    margin: 0 1rem;
  }

  a {
    padding-right: 1rem;
    text-decoration: none;
    color: $primary-color-dark;
    font-size: 10vh;

    :hover {
      transition: .4s;
      animation: logo .4s forwards;
      color: $accent-color-mid;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

section.row {
  padding: 1rem;
}

.anchor {
  margin-top: -4rem;
  padding-top: 5rem;
}

.no-padding {
  padding: 0;
}

.row-alt {
  position: relative;
  height: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-image: linear-gradient(30deg, rgba($accent-color, .8), rgba($accent-color-light, .8));
  }
}
// PROFILE CARDS

.gallery-grid {
  flex-flow: row;

  &:first-child {
    figcaption {
      order: -1;
    }
  }
}

.profile {
  position: relative;
  display: inline-flex;
  flex-flow: column;

  figcaption {
    position: relative;
    display: flex;
    padding: 1rem 0;
    transition: .4s;
    text-align: center;
    color: $primary-color-dark;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
    height: auto;
    transition: .4s;
    filter: grayscale(0);
  }

  h3 {
    width: 100%;
    padding: 1vh;
    // font-family: $display;
    font-size: 5vmin;
    font-weight: 700;

    span {
      display: block;
      font-family: $serif;
      font-size: 4vmin;
      font-weight: normal;
    }
  }
}
@media screen and (min-width: 660px) {
  .profile {
    overflow: hidden;

    figcaption {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-color: rgba($primary-color-dark, .5);
    }

    &:hover {
      img {
        filter: blur(5px);
      }

      figcaption {
        opacity: 1;
      }
    }

    h3 {
      background-color: $primary-color-light;
    }
  }
}
// PROFILE CARDS END
// VIDEO

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// VIDEO END
// EVENTS

.events {
  // max-height: 300px;
  // overflow-y: auto;
  margin-bottom: 2rem;

  li {
    padding: .5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-variant: small-caps;
  }

  span {
    margin-right: 1rem;
  }

  .event-date-full {
    flex: 0 0 10%;
    display: flex;
    flex-flow: row;
  }

  .event-city {
    flex: 0 0 20%;
    font-size: 1.2rem;
  }

  .event-location {
    flex: 1 0 auto;
    font-size: 1.2rem;
    text-align: right;
    font-weight: 700;
  }
}
@media screen and (min-width: 660px) {
  .events {
    li {
      flex-flow: row wrap;
    }

    .event-date-full {
      flex-flow: column;
    }
    .event-location {
      font-weight: normal;
    }
  }
}
// EVENTS END
// MAIN STYLES END
// ANIMATIONS
@keyframes logo {
  0% {
    transform: rotateZ(0deg) scale(1);
  }

  33% {
    transform: rotateZ(15deg);
  }

  66% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(0deg) scale(1.2);
  }
}
// ANIMATIONS END
