/* TYPOGRAPHY */
@import url( 'https://fonts.googleapis.com/css?family=Eczar|Work+Sans:400,700');
$serif: 'Eczar', serif;
$sans: 'Work Sans', sans-serif;
$monospace: 'Courier new', Courier, 'Andale Mono', monospace; // $display: 'Montserrat';
$hover-shadow: 0 .2rem .2rem $accent-color-light;
@mixin gradient-text($gradient, $bg : 'light') {
	 @supports(mix-blend-mode: lighten){
		display: inline-block;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: unquote($gradient);
			pointer-events: none;
		}
		@if ($bg == 'light') {
			color: #000;
			background: #fff;
			mix-blend-mode: multiply;

			&::before {
				mix-blend-mode: screen;
			}
		}
		@else {
			color: #fff;
			background: #000;
			mix-blend-mode: lighten;

			&::before {
				mix-blend-mode: multiply;
			}
		}
	}
}

html {
	font-size: 16px;
}

body {
	color: $primary-color-text;
	font-family: $sans;
	font-size: 100%;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans;
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-family: $serif;
	font-size: 8vmin;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.125em;
}

p {
	padding: 2em 0;
	font-size: 1em;
	max-width: 30em;
	margin: auto;
	text-align: center;
}

small {
	font-size: .8em;
}

a {
	transition: .4s;
	text-decoration: none;
	color: $accent-color-dark;

	&:hover {
		text-decoration: underline;
		color: $primary-color;
	}

	&:active {
		color: $accent-color-dark;
		text-shadow: none;
	}
}

i {
	font-family: $serif;
	font-style: italic;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
	font-variant: small-caps;
}
/* TYPOGRAPHY END */
