/* TYPOGRAPHY */
@import url( 'https://fonts.googleapis.com/css?family=Poiret+One|Lato:300,400&subset=latin-ext');
$serif: 'Poiret One', serif;
$sans: 'Lato', sans-serif;
$monospace: 'Courier new', Courier, 'Andale Mono', monospace; // $display: 'Montserrat';
$hover-shadow: 0 .2rem .2rem $accent-color-light;
$hover-shadow-dark: 0 .15rem .1rem rgba($primary-color-dark, .5);

html {
	font-size: 16px;
}

body {
	color: $primary-color-text;
	font-family: $sans;
	font-weight: 300;
	font-size: 100%;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans;
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-family: $serif;
	font-size: 8vmin;
	padding-bottom: 1rem;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.125em;
}

p {
	padding-bottom: 2em;
	font-size: 1.1em;
	max-width: 32rem;
	margin: auto;
	text-align: center;
}

small {
	font-size: .8em;
}

a {
	transition: .4s;
	text-decoration: none;
	color: $accent-color-dark;

	&:hover, &:focus {
		text-decoration: underline;
		color: $primary-color;
	}

	&:active {
		color: $accent-color-dark;
		text-shadow: none;
	}
}

i {
	font-family: $serif;
	font-style: italic;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
	font-variant: small-caps;
}
/* TYPOGRAPHY END */
